/*
 * dark mode is primary
 *
 * we support prefer-color-scheme and custom dark/light setting
 */
:root {
  --sans-font:
    -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, "Noto Sans",
    "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --border-width: 0.25em;
  --border-radius: 0.5em;

  /* has to display good in dark and light mode */
  --site-logo-icon: url("img/site-logo.svg");
}
