/*
 * dark mode is primary
 *
 * we support prefer-color-scheme and custom dark/light setting
 */
:root {
  --sans-font:
    -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, "Noto Sans",
    "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --border-width: 0.25em;
  --border-radius: 0.5em;

  --auto-mode-icon: url("img/auto-mode.svg");

  /* Changes with the selected scheme */
  --dark-github-mark: url("img/github-mark-white.svg");
  --dark-mode-icon: url("img/dark-mode.svg");
  --theme-toggle-icon: var(--light-mode-icon);

  --light-github-mark: url("img/github-mark.svg");
  --light-mode-icon: url("img/light-mode.svg");
  --github-mark: var(--light-github-mark);
}
