#github-mark {
  content: var(--github-mark);
}
#theme-toggle-icon {
  content: var(--theme-toggle-icon);
}

/* default dark mode (preferred-data-scheme=dark) */
/* CSS only switcher — no data-theme means no JS */
/* html:not([data-theme]):has(#theme-toggle-cb:checked) {
  color-scheme: light;
  --github-mark: var(--light-github-mark);
  --theme-toggle-icon: var(--light-mode-icon);
} */

/* @media (prefers-color-scheme: light) {
  html:not([data-theme]):has(#theme-toggle-cb:checked) {
    color-scheme: dark;
    --github-mark: var(--dark-github-mark);
    --theme-toggle-icon: var(--dark-mode-icon);
  }
  html[data-theme="auto"] {
    color-scheme: light;
    --github-mark: var(--light-github-mark);
  }
} */

/* JS switcher */
/* html[data-theme="dark"] {
  color-scheme: dark;
  --github-mark: var(--dark-github-mark);
  --theme-toggle-icon: var(--dark-mode-icon);
} */

/* html[data-theme="light"] {
  color-scheme: light;
  --github-mark: var(--light-github-mark);
  --theme-toggle-icon: var(--light-mode-icon);
} */

/* html[data-theme="auto"] {
  color-scheme: dark;
  --github-mark: var(--dark-github-mark);
  --theme-toggle-icon: var(--auto-mode-icon);
} */
