{{- $tpl := templates.Current.Name }}
{{- $pagePath := .Path }}
{{- $idx := math.Counter }}
{{- with .Params.keywords }}
   {{- warnf "[%04d][ %-20s ] : %s :: %s" $idx $tpl $pagePath . }}
{{- else  }}
   {{- warnf "[%04d][ %-20s ] : %s" $idx $tpl $pagePath }}
{{- end }}
{{- range $res := resources.Match "discourse/**" }}
	{{- warnf "[%04d][ %-20s ] : %s :: %s" $idx "executeAsTemplate" page.Path $res }}
	{{- with $res.Content | resources.FromString $res }}

		{{- with . | resources.ExecuteAsTemplate (path.Join "/" $.Section $res) $ }}
			{{- .Publish }}
		{{- end }}
	{{- end }}
{{- end }}

{{- range $res := resources.Match "*" }}
	{{- warnf "[%04d][ %-20s ] : %s :: %s" $idx "executeAsTemplate" page.Path $res }}
	{{- with $res.Content | resources.FromString $res }}
		{{- with . | resources.ExecuteAsTemplate (path.Join $.Section $res) $ }}
			{{- .Publish }}
		{{- end }}
	{{- end }}
{{- end }}
{{- /**/ -}}
