name: Release from tag

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to create a release for"
        required: true

permissions:
  contents: write

jobs:
  create_release:
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh

    steps:
      - name: Checkout highlightjs-hugo repository
        uses: actions/checkout@v6
        with:
          ref: main
          fetch-depth: 0
          fetch-tags: true
          submodules: "false"

      - name: Get and save tag name
        run: |
          if ("${{ github.event_name }}" -eq "workflow_dispatch") {
            $givenTag="${{ github.event.inputs.tag }}"
          } else {
            $givenTag="${{ github.ref }}".Replace("refs/tags/","")
          }
          $TAG = "$(git tag --list | select-string $givenTag)" # make sure it's a string
          if ((-Not $TAG) -or ("$TAG" -ne "$givenTag")) {
              Write-Error "Unable to create release for non-existing or unmatched tag '$givenTag -> $TAG'" -ErrorAction Stop
          }
          $SHA = "$(git log -n 1 $TAG --format='%H')"
          if (-Not $SHA) {
            Write-Error "no commitish found for tag '$TAG'" -ErrorAction Stop
          }
          "DISPATCH: Drafting release for '${{ github.ref }}' tag '$TAG' based on $SHA" | Out-Host
          echo "TAG_NAME=$TAG" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append
          echo "COMMIT_ISH=$SHA" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append
          # we cannot create a release for an old tag, so make sure we are at the correct commit
          git checkout $SHA

      - name: Create archives
        run: |
          if ("${{ github.event_name }}" -eq "workflow_dispatch") {
            $givenTag="${{ github.event.inputs.tag }}"
          } else {
            $givenTag="${{ github.ref }}".Replace("refs/tags/","")
          }
          [void](New-Item -ItemType Directory ${{ github.workspace }}/work -ErrorAction SilentlyContinue)
          Set-Location ${{ github.workspace }}/dist
          7z a ${{ github.workspace }}/work/hugo-embed-${givenTag}.zip hugo-embed
          7z a ${{ github.workspace }}/work/hugo-html-${givenTag}.zip hugo-html
          7z a ${{ github.workspace }}/work/hugo-lib-${givenTag}.zip hugo-lib
          7z a ${{ github.workspace }}/work/hugo-text-${givenTag}.zip hugo-text
          # 7z a ${{ github.workspace }}/work/hugo-plugins-${givenTag}.zip plugins

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          fail_on_unmatched_files: true
          generate_release_notes: true
          prerelease: false
          name: Release ${{ env.TAG_NAME }}
          tag_name: ${{ env.TAG_NAME }}
          body: |
            Things changed with release:
          files: ${{ github.workspace }}/work/*
